 .cart-page{
    margin-top: 10rem;

  }
  
  .cart-heading{
    margin-bottom: 4rem;
    color: #1c1002;
    background-color: #b27a3e;
    display: inline-block;
  }
  
  .cart-main-listing{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
  
  
  }
  
  
  .cart-image{
    height: 400px;
    width: 100%;
    margin-top: -1rem;
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
  }
  
  .cart{
    margin-top: 1.2rem;
    display: block;
  }

/* 
  .cart-main-listing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
   */
 