
/* .product-page{
    margin-top: 100rem;
  
  }
   */


  .product-heading{
    margin-bottom: 4rem;
    color: black;
    background-color:  #2ebbb9;
    display: inline-block;
    margin-top: 10rem;
  }
  
  
  .mains{
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
  
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  
  }
  
  
  .product-listing{
    box-shadow: 0 1px 10px 5px gray;
    margin: 1.5rem;
    padding: 1rem;
    width: 68%;
    height: 430px;
    margin-left: 5rem;
    line-height: 1.6rem;
    
  }
  
  
  .productcart-image{
    height: 250px;
    width: 100%;
    margin-top: -1rem;
    display: block;
  
    
  }

 .product-link{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #351d02;
  font-style: bold;
 }

 .productcart-button{
  background-color: #2ebbb9;
  color:  #351d02;
  padding: 0.4rem;
 margin: 0.3rem;
 }

 .productcart-button:hover{
  background-color: cornsilk;
  cursor: pointer;
 }

.sidebar{
  grid-area: sidebar;
  line-height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.mains{
  grid-area: main;

}

.product-page{
  display: grid;
  grid-template-areas: "sidebar main main";
  margin-top: 2rem;
  line-height:4rem;
}

.sidebars{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  /* margin: 2rem; */
  align-items: center;
}

hr{
  width: 100%;
  margin-left: 1rem;
}

.sidebar-category{
display: flex;
flex-direction: column;
margin: 0;

}


.sidebar-filters{
  display: flex;
  flex-direction: column;
  margin: 0rem;
  
}

.sidebar-search > input{
  margin-left: 1.5rem;
}

.sidebar-search-heading{
  font-size: 28px;
  padding-top: 0rem;
  margin: 0;
}

